body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 25px;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
   padding-right: 50px;
   background-color: #2185d5;
   color: #f3f3f3;
   font-size: 30px;
   font-weight: 800;
}

main {
    background-color: #2d4059;
}

footer {
    background-color: #2d4059;
    color: white;
    text-align: center;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    padding: 50px;
    gap: 30px;
}

.book {
    background-color: #f3f3f3;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 15px;
}

.bookTitle {
    font-weight: 800;
    font-size: 18px;
}

.bookRead, .removeBook {
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 30px;
    text-align: center;
}

.bookReadYes {
    background-color: #22c55e;
}

.bookReadNo {
    background-color: #ef4444;
}

.removeBook {
    background-color: #e5e7eb;
}

.showDialog {
    font-size: 20px;
    border-radius: 10px;
}

dialog {
    border: 0;
    border-radius: 10px;
}
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr repeat(6, 1fr);
    gap: 20px;
    border-radius: 10px;
    width: 350px;
    height: 400px;
}

#title, #author, #pages {
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.closeDialog {
    border-radius: 10px;
    font-weight: 800;
}

.dialogTitle {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
